.todo-container {
  max-width: 768px;
  padding: 16px 24px;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: $gray-700;
  }
}

.todo-table {
  width: 100%;
  text-align: left;
  margin-top: 32px;
}

.table-head {
  font-weight: 400;
  color: $gray-700;
  font-size: 12px;
  padding: 12px 0;
  border-bottom: 1px solid $gray-200;
  text-transform: uppercase;
  line-height: 20px;

  &.right {
    text-align: right;
  }
}

.table-td {
  font-weight: 400;
  font-size: 14px;
  color: $gray-900;
  padding: 12px 0;
  border-bottom: 1px solid $gray-200;
  white-space: nowrap;
  line-height: 20px;

  &.right {
    text-align: right;
  }

  button {
    background-color: transparent;
    border: 0;
    color: $gray-400;
    cursor: pointer;
    outline: none;
    transition: all 150ms ease-in-out;

    &:hover {
      color: $gray-500;
    }
  }
}

.todo-checker {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    margin-right: 8px;
    display: inline-block;
  }
}
